.zmicinput{
    width:250px;
    border-radius: 2;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    height: 32px;
}
.zmicbutton {
    background-color: #338984;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    color: white;
}